$col-g: #289678;

@media screen and (max-width: 1200px) {
    .container {
        width: 992px;
        margin: 0 auto;
        padding: 0 15px;
    }

    h1 {
        font-size: 45px;
    }

    #header {
        .header__wrapper {
            .header-nav {
                .header__logo {
                    margin-right: 20px;
                }
            }

            .header-connect {
                .header-contact-button {
                    padding: 10px 15px 10px 15px;
                    font-size: 10px;
                }
            }
        }
    }

    #intro {
        .intro-title {
            .intro-btn__consult {
                padding: 25px 30px;
            }

            .intro-btn__download {
                padding: 0 30px;
            }
        }
    }

    #service {
        .service-additionally {
            //  justify-content: center;

            &-card {
                width: 300px;
                //  margin: 0 auto;
                margin-bottom: 20px;
            }

            &-card:nth-child(3n + 3) {
                margin-right: 0;
            }

            &-card:nth-child(4n + 4) {
                margin-right: 28px;
            }
        }

        .service-block {
            display: flex;
            justify-content: space-between;

            .service-card {
                max-width: 48%;
                width: 100%;
                margin-right: 0;

                img {
                    width: 100%;
                }

                a {
                    width: 100%;
                    padding: 17px 0 20px 0;
                }
            }
        }
    }

    #service-country {
        padding: 80px 0;

        .service-country-top {
            ul {
                li {
                    font-size: 18px;
                }
            }
        }

        .service-country-bottom {
            .service-country-bottom__list {
                ul {
                    li {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    #consultation {
        .consultation-form {
            form {
                .consultation-form-send {
                    button {
                        margin-right: 18px;
                    }
                }
            }
        }
    }

    #advantage {
        .advantage-block {
            justify-content: space-between;

            &__card {
                margin-right: 0;
                width: 48%;
            }
        }
    }

    #contact {
        background: url('../img/contact/s-containerom.png') no-repeat center;

        .contact__wrapper {
            width: 570px;
            padding-bottom: 70px;

            h2 {
                font-size: 26px;
                line-height: 40px;
            }

            .contact-number {
                right: -260px;
                bottom: 56px;
            }
        }
    }

    #partners {
        .partners-block {
            &__item {
                margin-right: 30px;
                margin-bottom: 20px;

            }

            &__item:nth-child(4n+4) {
                margin-right: 0px;
            }

            &__item:nth-child(5n+5) {
                margin-right: 30px;
            }
        }
    }

    #footer {
        .footer-start {
            .container {
                .footer-nav {
                    nav {
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    h2 {
        font-size: 35px;
        line-height: 40px;
    }

    .container {
        width: 768px;
        margin: 0 auto;
        padding: 0 15px;
        position: static;
    }

    #header {
        .header__wrapper {
            align-items: center;
            position: relative;

            .header-nav {
                order: 1;

                .header__logo {
                    margin-right: 0;
                    margin-top: 15px;

                    .header-logo-block {

                        background: none;

                        img {
                            width: 130px;
                            padding: 0;
                        }
                    }


                }

                nav {
                    position: absolute;
                    padding: 0;
                    right: 0;
                    transition: all .3s ease-out;
                    pointer-events: none;
                    opacity: 0;
                    transition: all .3s ease;
                    height: 100%;
                    width: 100%;

                    ul {
                        display: flex;
                        flex-direction: column;
                        padding: 60px 127px 30px 130px;
                        background: #F9FBFA;
                        display: flex;
                        width: 992px;
                        height: 100vh;
                        margin-right: -127px;
                        margin-left: -127px;
                        overflow: auto;
                        position: fixed;


                        li {
                            margin-bottom: 30px;
                            margin-right: 0;

                            a {
                                font-family: "Montserrat-SemiBold";
                                font-size: 20px;
                                line-height: normal;
                                color: #212121;
                            }

                            .header-connect-mobile {
                                display: flex;
                                justify-content: space-between;

                                .header-contact-mobile {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    justify-content: center;


                                    &__phone {
                                        font-size: 16px;
                                        line-height: 17px;
                                        text-align: center;
                                        color: #3D3D3D;
                                    }

                                    &__email {
                                        font-family: "Montserrat-Regular";
                                        font-size: 14px;
                                        line-height: 17px;
                                        text-align: center;
                                        color: #3D3D3D;
                                        margin-top: 5px;
                                    }
                                }


                                &__button {
                                    font-family: "Montserrat-SemiBold";
                                    font-weight: 600;
                                    padding: 14px 22px;
                                    color: #289678;
                                    font-size: 11px;
                                    line-height: 13px;
                                    border-radius: 453px;
                                    backdrop-filter: blur(15px);
                                    background: rgba(61, 61, 61, 0.1);
                                }
                            }
                        }

                        li:last-child {
                            margin-bottom: 0;
                            margin-top: auto;
                        }

                    }
                }

                nav::after {
                    display: none;
                }
            }

            .header-connect {
                display: none;
            }

            .header-call-info {
                padding: 12px;
                display: block;
                background: $col-g;
                border-radius: 50%;
                display: flex;
                align-items: center;
                margin-left: 15px;
            }

            .header-burger {
                background: rgba(255, 255, 255, 0.1);
                padding: 21px;
                display: block;
                border-radius: 50%;
                position: relative;
                order: 2;
                margin-right: 15px;
                z-index: 5;

                span {
                    width: 18px;
                    transition: all .2s;
                    position: absolute;
                    height: 1px;
                    background: #FFFFFF;
                    left: 50%;
                    transform: translateX(-50%);
                }

                span::before {
                    content: '';
                    height: 1px;
                    background: #FFFFFF;
                    width: 18px;
                    top: 5px;
                    position: absolute;
                }

                span::after {
                    content: '';
                    height: 1px;
                    background: #FFFFFF;
                    width: 18px;
                    bottom: 5px;
                    position: absolute;
                }

                .burger-revert:before {
                    background: rgba(145, 145, 145, 1) !important;
                }

                .burger-revert:after {
                    background: rgba(145, 145, 145, 1) !important;
                }
            }
        }

        .header__wrapper::after {
            content: '';
            width: 100%;
            height: 1px;
            background: rgba(255, 255, 255, 0.2);
            z-index: -9;
            position: absolute;
            bottom: -10px;
        }
    }

    #intro {
        z-index: 0;

        .intro-title {
            padding-top: 40px;
            flex-direction: column;
            align-items: flex-start;

            h1 {
                line-height: 56px;
            }

            .intro-btn {
                width: 100%;
                justify-content: space-between;

                .intro-btn__consult,
                .intro-btn__download {
                    width: 40%;
                }

                .intro-btn__consult {
                    text-align: center;
                }

                .intro-btn__download {
                    justify-content: center;
                }
            }

            .intro-title__mobile {
                display: block;
                font-family: "Montserrat-Regular";
                font-size: 16px;
                line-height: 21px;
                color: #FFFFFF;
                font-weight: 400;
                padding: 15px 0 30px 0;
            }
        }

        .intro-description {
            &__text {
                display: none;
            }

            .intro-advantage {
                justify-content: space-between;
                width: 100%;

                .intro-advantage__item {
                    margin-left: 0;
                }
            }
        }
    }

    #service {
        h2 {
            padding: 65px 0 40px 0;
        }

        .service-block {
            .service-card {
                h3 {
                    font-size: 18px;
                }

                a {
                    padding: 17px 0 20px 0;
                    width: 100%;
                }
            }
        }

        .service-additionally {
            justify-content: space-between;

            .service-additionally-card {
                width: 350px;
                margin: 0;
                margin-bottom: 20px;
            }
        }
    }

    #service-country {
        padding: 60px 0;

        .service-country-top {
            h2 {
                padding-bottom: 50px;
            }

            ul {
                width: 55%;

                li {
                    padding-bottom: 28px;
                }
            }
        }

        .service-country__bg_green {
            height: 35%;
        }

        .service-country-bottom {
            h2 {
                padding: 55px 0 21px 0;
            }

            .service-country-bottom__list {
                ul {
                    li {
                        font-size: 16px;
                    }
                }
            }

        }
    }

    #service-description {
        .service-description-text {
            h2 {
                font-size: 26px;
                line-height: 40px;
            }
        }
    }

    #consultation {
        padding-top: 60px;
        padding-bottom: 60px;

        .consultation-text {
            h2 {
                font-size: 28px;
                line-height: 38px;
            }

            P {
                font-size: 14px;
            }
        }

        .consultation-form form {
            textarea {
                margin-bottom: 13px;
            }

            .consultation-form__data {

                flex-direction: column;

                #consultation-form__name {
                    margin-right: 0;
                    margin-bottom: 13px;
                }

                input,
                .iti {
                    width: 100%;
                }
            }

            .consultation-form-send {
                flex-direction: column;

                &__checkbox {
                    margin-bottom: 20px;
                }

                button {
                    order: 1;
                    margin-right: 0;
                }
            }

        }

    }

    #costs {
        padding-top: 70px;
        padding-bottom: 70px;

        .costs-block-name {
            p {
                width: 300px;
                font-size: 24px;
            }
        }

        .costs-block__description {
            font-size: 16px;
        }
    }

    #partners {
        .partners-block {
            &__item {
                margin-right: 0;
                margin-bottom: 20px;

            }

            &__item:nth-child(3n+3) {
                margin-right: unset;
            }

            &__item:nth-child(4n+4) {
                margin-right: unset;
            }

            &__item:nth-child(5n+5) {
                margin-right: unset;
            }

            &__item:nth-child(3n+5) {
                margin-right: 42px;
                margin-left: 42px;
            }

            &__item:nth-child(2) {
                margin-right: 42px;
                margin-left: 42px;
            }



        }
    }

    #contact {
        .contact__wrapper {
            width: 464px;

            h2 {
                font-size: 22px;
                line-height: 38px;
            }
        }
    }

    #footer {
        .footer-start {
            .container {
                flex-direction: column;

                .footer-nav {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    nav {
                        margin-left: 0;
                    }

                    ul {
                        li:last-child {
                            margin-right: 0;
                        }
                    }
                }

                .footer-connect {
                    flex-direction: unset;
                    justify-content: space-between;
                    margin-top: 25px;

                    .footer-contact {
                        margin-bottom: 0;
                        order: 2;

                        &__wrapper {}
                    }

                    .footer-download {
                        align-items: center;

                        img {
                            width: 5%;
                        }
                    }
                }
            }
        }


    }
}


@media screen and (max-width: 768px) {
    .container {
        width: 576px;
        margin: 0 auto;
        padding: 0 15px;
    }

    #header {
        .header__wrapper {
            .header-nav {
                nav {
                    ul {
                        width: 768px;
                    }
                }
            }
        }
    }

    #intro {
        height: unset;

        .container {
            padding-bottom: 40px;
        }

        .intro-title {
            padding-top: 59px;

            .intro-btn {
                flex-direction: column;

                .intro-btn__consult,
                .intro-btn__download {
                    width: 100%;

                }

                .intro-btn__download {
                    padding: 15px 30px;
                    margin-top: 12px;
                }

            }
        }

        .intro-title::after {
            display: none;
        }

        .intro-description {
            .intro-advantage {
                flex-direction: column;

                .intro-advantage__item {
                    margin-bottom: 15px;
                    display: flex;
                    width: 100%;
                    align-items: center;


                    P {
                        padding-left: 20px;
                        padding-top: 0;
                    }

                    img {
                        width: 40px;
                    }
                }

            }
        }

        .intro-video {
            .intro-video__bg {
                height: 866px;

            }

            video {
                height: 866px;
            }
        }
    }




    #service {
        .service-block {
            flex-direction: column;
            align-items: center;

            .service-card {
                max-width: 100%;
            }


        }

        .service-additionally {
            .service-additionally-card {
                width: 48%;
            }
        }
    }

    #service-country {
        padding-bottom: 150px;

        .service-country-top {
            padding-bottom: 25px;

            &__list {
                flex-direction: column;

                ul,
                ul:nth-child(2) {
                    width: 100%;
                }
            }
        }

        .service-country__bg_green {
            height: 39%;
        }

        .service-country-bottom {
            h2 {
                font-size: 30px;
                line-height: normal;
                padding: 30px 0 21px 0;
            }

            .service-country__description {
                font-size: 20px;
            }

            .service-country-bottom__list {
                flex-direction: column;
                order: 1;
                padding-top: 50px;
                position: relative;

                img {
                    order: 2;
                    position: absolute;
                    bottom: -270px;
                    transform: translate(-50%);
                    left: 50%;
                    height: unset;
                }
            }
        }
    }

    #service-description {
        .container {
            display: flex;
            flex-direction: column;


            .service-description-text {
                width: 100%;
            }

            .service-description-video {
                margin: 0;
                width: 100%;

                video {
                    margin-left: -112px;
                    width: 768px;
                    height: 311px;
                }
            }
        }
    }

    #advantage {

        h2 {
            padding-bottom: 40px;

            br {
                display: none;
            }
        }

        .advantage-block {
            flex-direction: column;

            &__card {
                width: 100%;
            }
        }
    }


    #consultation {
        .container {
            display: flex;
            flex-direction: column;

            .consultation-text {
                width: 100%;
                padding-right: 0;

                p {
                    margin-bottom: 30px;
                    padding-bottom: 30px;
                    position: relative;
                }

                p::after {
                    content: "";
                    position: absolute;
                    width: 150%;
                    height: 1px;
                    left: 0;
                    bottom: 0;
                    background: #FFF;
                    transform: translateX(-20%);
                }
            }

            span {
                display: none;
            }

            .consultation-form {
                padding-left: 0;
                width: 100%;
            }
        }
    }


    #costs {
        background: #F8FAF9;
        z-index: 2;
        position: relative;

        h2 {
            br {
                display: none;
            }
        }

        .costs-block {
            padding-top: 20px;

            &__item {
                flex-direction: column;
                align-items: flex-start;
            }

            &-name {
                margin-bottom: 15px;
            }
        }
    }

    #partners {
        padding-bottom: 180px;

        .partners-block {
            position: relative;

            &::after {
                content: '';
                width: calc(100% - 145px);
                height: 1px;
                bottom: -37px;
                right: 15px;
                position: absolute;
                background: #C4c4c4;
                opacity: 0.5;
            }

            &__item {
                margin-right: 0;
                margin-bottom: 0;

            }

            .partners-slider__item {
                margin-right: unset;
                margin-left: unset;

                img {
                    max-width: 120px;
                    height: 70px;
                }
            }

            &__item:nth-child(1n+1) {
                margin-right: 15px;

            }

            &__item:first-child {
                margin-left: 15px;
            }

            &__item:nth-child(3n+5) {
                margin-right: 15px;
                margin-left: unset;
            }

            &__item:nth-child(2) {
                margin-right: unset;
                margin-left: unset;
            }

            .slider-arrow {
                position: absolute;
                bottom: -60px;
            }

            .slick-prev {
                left: 60px;

            }

        }

    }

    #contact {
        .contact__wrapper {
            width: 366px;

            h2 {
                font-size: 20px;
                line-height: 28px;
            }

            .contact-numbers {
                right: -305px;
                bottom: 30px;
            }
        }


    }

    #footer {
        .footer-start {
            .container {
                .footer-connect {
                    flex-direction: column;
                    align-items: center;

                    .footer-contact {
                        margin-top: 54px;


                        &__wrapper {
                            align-items: flex-start;
                        }
                    }
                }

                .footer-nav {
                    flex-direction: column;
                    margin-top: 20px;

                    nav {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .popup {
        .popup__body {
            width: 100%;
            height: 100%;
        }

        .popup__close {
            top: 22px;
            right: 15px;
        }

        .popup__form {
            padding: 0 10px;
        }

        .popup__content span {
            width: 95%;
        }
    }

}

@media screen and (max-width: 576px) {
    .container {
        width: 92%;
        padding: 0;
    }

    h2 {
        font-size: 30px;
        line-height: 38px;
    }

    #header {
        .header__wrapper {
            .header-nav {
                nav {
                    ul {
                        width: 100%;
                        padding: 25px;
                        margin: 0;
                        margin-left: 0;
                        left: 0;
                        overflow-y: auto;
                        top: 0;
                        position: fixed;
                        height: 100%;

                        li {
                            .header-connect-mobile {

                                .header-contact-mobile {

                                    &__phone,
                                    &__email {
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .burger-revert {
                margin-left: 15px;
            }
        }
    }


    #intro {
        .intro-video {
            .intro-video__bg {
                height: 810px;
            }

            video {
                height: 810px;
            }
        }

        .intro-title {
            h1 {
                font-size: 30px;
                line-height: 35px;
            }

            .intro-title__mobile {
                font-size: 13px;
                line-height: 21px;
            }


        }


    }

    #service {
        background: none;

        h2 {
            padding: 55px 0 24px 0;

            br {
                display: none;
            }
        }

        .service-block {
            .service-card {
                padding: 32px 20px;
            }
        }

        .service-additionally {
            flex-direction: column;
            margin-bottom: 26px;

            .service-additionally-card {
                flex-direction: unset;
                width: 100%;
                padding: 32px 20px;
                justify-content: flex-start;

                p {
                    max-width: 70%;
                    text-align: left;
                    margin-left: 15px;
                    margin-top: 0;
                }
            }
        }
    }

    #service-country {
        padding: 27px 0 150px 0;


        h2 {
            font-size: 30px;
            padding-bottom: 27px;
            padding-bottom: 36px;
        }

        .service-country-top__list {
            ul {
                li {
                    font-size: 16px;
                    line-height: 20px;
                }
            }
        }

        .service-country-top {
            padding-bottom: 36px;
        }

        .service-country-bottom {
            .service-country__img {}

            h2 {
                padding-top: 26px;
                text-align: left;
            }

            .service-country__description {
                font-size: 16px;
                text-align: left;
                line-height: 24px;
                width: 100%;
                color: #FFF;
            }

            .service-country-bottom__list {
                ul {
                    margin-left: 20px;

                    li {
                        line-height: 20px;
                    }
                }
            }
        }



        .service-country__bg_green {
            height: 40%;
        }
    }

    #service-description {
        .container {
            .service-description-video {
                video {
                    width: 576px;
                    margin-left: -60px;
                }
            }

            .service-description-text {
                p:last-child {
                    padding-bottom: 49px;
                }
            }
        }
    }

    #advantage {
        padding-top: 35px;
        padding-bottom: 25px;
    }

    #consultation {
        padding: 38px 0;

        .consultation-form__name {
            width: 100%;
        }

        .consultation-form {
            form {
                textarea {
                    margin-bottom: 0px;
                }
            }
        }
    }

    #costs {
        padding-top: 43px;
        padding-bottom: 33px;

        .costs-block {
            &-name {
                align-items: center;
            }

            &__item {
                width: 100%;

                .costs-block-name {
                    width: 100%;

                    p {
                        font-size: 18px;
                        line-height: normal;
                        padding-left: 15px;
                    }

                    img {
                        width: 39px;
                        height: 39px;
                    }
                }

                p {
                    font-size: 13px;
                    line-height: 24px;
                }
            }

        }
    }

    .slick-list__item:first-child {
        margin-left: 0;
    }

    #partners {
        .partners-block__item:nth-child(1n+1) {
            margin-right: 0;
        }

        .partners-block__item:first-child {
            margin-left: 0;
        }

        .partners-block {
            .partners-slider__item {
                padding: 21px 10px;
                margin-right: 10px;

                img {
                    max-width: 100px;
                    height: 60px;
                }
            }
        }
    }

    #map {
        .map-board {
            left: 0;
            width: 100%;
            padding: 36px 25px;

            &__address {
                font-size: 18px;
                line-height: 30px;
                margin-bottom: 25px;
            }

            &__work {
                font-size: 13px;
                line-height: normal;
            }
        }
    }

    #contact {
        background: #289678;

        .container {
            position: relative;

            .contact__wrapper {
                padding-top: 40px;
                padding-bottom: 20px;
                width: 100%;

                h2 {
                    font-size: 20px;
                    line-height: 30px;
                    padding-bottom: 36px;
                }

                form {
                    .contact-form__data {
                        flex-direction: column;

                        input {

                            width: 100%;
                        }

                        #contact-form__email {
                            width: 100%;

                        }

                        .iti {
                            margin-bottom: 30px;
                            width: 100%;
                            margin-top: 26px;
                        }

                        .contact-form__name {
                            width: 100%;
                        }

                    }

                    .contact-form-send__checkbox {
                        margin-top: 0;
                        width: 100%;
                    }

                    button {
                        margin-top: 40px;
                        width: 100%;
                    }
                }

                .contact-numbers {
                    margin-top: 250px;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    position: relative;
                    width: 100%;

                }
            }
        }

        .contact-bg {
            display: block;
            position: absolute;
            bottom: 20px;
            right: -25px;
        }
    }

    #footer {

        .footer-start {
            padding: 25px 0;

            .container {
                .footer-connect {
                    margin-top: 35px;

                    .footer-download {
                        width: 100%;
                        justify-content: center;

                        p {
                            white-space: nowrap;
                        }
                    }

                    .footer-contact {
                        margin-top: 35px;
                        justify-content: space-between;
                        width: 100%;



                    }
                }

                .footer-nav {
                    nav {
                        margin-top: 17px;

                        ul {
                            flex-wrap: wrap;
                            justify-content: center;
                            flex-direction: column;
                            align-items: center;

                            li {
                                margin-top: 15px;
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }

        .footer-end {
            .container {
                flex-direction: column;
                align-items: center;

                .footer-end__link {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .contact-popup,
    .service-popup,
    .service-popup-form {
        &__wrapper {
            width: 95%;
        }

        span {
            right: 15px !important;
            top: 15px !important;
        }


        span::after,
        span::before {
            background: #3D3D3D !important;
        }
    }

    .service-popup-form,
    .service-popup {

        span::after,
        span::before {
            background: #FFF !important;
        }
    }

    .popup {
        .popup {
            z-index: 10;
        }
    }


}

@media screen and (max-width: 400px) {
    #service-country {
        .service-country__bg_green {
            height: 39%;
        }
    }

    #service-description {
        .container {
            .service-description-video {
                video {
                    width: 400px;
                    margin-left: -20px;
                }
            }
        }
    }
}